@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: brightness(70%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-div {
  background-image: url("./images/slot_machine_background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  font-family: "Poppins", "Play", sans-serif;
  flex-shrink: 0;
}

.top-text {
  display: flex;
  margin-top: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.heading-text {
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.deposit-text {
  padding-top: 0.5vw;
  font-size: medium;
}

.deposit-button {
  background-color: #ece8ff;
  transition-duration: 0.2s;
  margin: 1vh;
  padding: 0.4rem 0.9rem;
}

.deposit-button:hover {
  background-color: #5465ff;
  color: white;
  box-shadow: 0.1rem 0.2rem 0.2rem #151515;
}

.deposit-button:active {
  box-shadow: 0px 2px 2px #adaabb;
  transform: translateY(1.5px);
}

.bet-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  font-size: x-large;
}

.get-bet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8f5ff;
  transition-duration: 0.2s;
  margin: 1vh;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.get-bet-button:hover {
  background-color: #2b92ff;
  color: white;
  box-shadow: 0.1rem 0.2rem 0.2rem #151515;
}

.bet-value {
  padding-left: 0.5rem;
}

.main-grid {
  display: flex;
  flex-shrink: 0;
  /* padding-top: 1rem; */
  flex-direction: row;
}

.game-grid {
  display: grid;
  margin: auto;
  min-width: 100px;
  grid-template-rows: repeat(3, 11vh);
  grid-template-columns: repeat(3, 11vh);
  /* margin: 3rem; */
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Play", "Poppins", sans-serif;
  text-shadow: 0.1vh 0.1vh 0.2vh #400071cf;
  border-radius: 0.1rem;
  background-color: #eeeeee;
  color: rgb(0, 78, 167);
  cursor: pointer;
}

.row1 {
  border-bottom: ridge rgb(80, 80, 80) 0.35vh;
  border-top: solid rgba(0, 0, 0, 0.8) 0.4vh;
  box-shadow: inset 0vh 0.3vh 0.8vh #818181;
}

.row2 {
  border-bottom: ridge rgb(80, 80, 80) 0.35vh;
  box-shadow: inset 0vh 0vh 0.8vh #818181;
}

.row3 {
  border-bottom: solid rgba(0, 0, 0, 0.8) 0.4vh;
  box-shadow: inset 0vh -0.3vh 0.8vh #818181;
}

.col1 {
  border-right: solid rgb(153, 153, 153) 0.3vh;
  border-left: solid rgba(0, 0, 0, 0.8) 0.5vh;
}

.col2 {
  border-right: solid rgb(164, 164, 164) 0.3vh;
}

.col3 {
  border-right: solid rgba(0, 0, 0, 0.8) 0.5vh;
}

.balance-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  flex-direction: row;
  font-size: large;
}

.balance-text {
  width: 70%;
}

.balance-value {
  padding-left: 0.5rem;
  width: 30%;
}

.multiplier-container {
  display: flex;
  color: rgb(0, 110, 40);
  margin-left: 1vh;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  -webkit-text-stroke: 0.5px white;
}

.multiplier-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.multiply-val {
  padding-left: 0.3rem;
}

.multiply-bet {
  font-size: large;
  margin-left: 0.6vw;
  color: white;
  -webkit-text-stroke-width: 0;
}

.spin-container {
  display: flex;
  margin: 0.4rem;
  margin-bottom: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.spin-button {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  font-size: large;
  transition-duration: 0.3s;
  cursor: pointer;
  padding: 0.6rem 1.4rem;
  font-weight: bold;
  background-color: #53b5ffee;
  border: 0.2vw solid #2e7eef;
  border-radius: 0.2rem;
}

.spin-button:hover {
  background-color: #2361b9;
  color: white;
  box-shadow: 0px 0.3rem 0.6rem rgba(65, 65, 65, 0.804);
}

.spin-button:active {
  background-color: #2361b9;
  box-shadow: 0px 0.3rem #7e97a4;
  transform: translateY(0.2rem);
}

.spin-button-contents {
  display: flex;
  width: fit-content;
  gap: 0.5rem;
}

/* .a{
  color: rgb(0, 78, 167);
}

.b{
  color: rgb(72, 1, 127);
}

.c{
  color: rgb(114, 0, 30);
} */

/* 
.checkboxes {
  margin-right: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0);
}

.check-button {
  display: flex;
  height: 4vw;
  width: 2.5vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  color: white;
  font-size: x-large;
  cursor: pointer;
}

.checkboxes:hover{
  background-color: rgb(155, 255, 150);
}

.b1:active{
  transform: translateY(1px);
  box-shadow: 2px 0px 3px rgb(165, 165, 165);
}

.b2:active{
  transform: translateY(1px);
  box-shadow: 2px 0px 3px rgb(165, 165, 165);
}

.b3:active{
  transform: translateY(1px);
  box-shadow: 2px 0px 3px rgb(165, 165, 165);
} */
.spin-button:hover .spin-image {
  animation: spin 0.5s linear infinite;
  /* Adjust the animation duration as needed */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    /* Adjust the number of degrees for a full rotation */
  }
}

.footer {
  max-width: 170px;
  list-style-type: none;
  text-align: center;
  align-items: center;
}

.foot {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
}

.connect {
  color: #f7f7f7;
  background: transparent;
  text-align: center;
  font-family: sans-serif;
  padding: 1rem;
}

.icon {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.3rem;
}

.iconAlign {
  text-align: center;
  padding: 1rem;
  background: #4D4C7D;
}


.money-stat-container{
  display: flex;
  width: 60%;
  justify-content:space-evenly;
  border: 0px solid yellow;
  align-items: center;
  align-content: center;
}

.individual-container{
  margin-top: 00px;
}
.inner-div{
  margin-top: 1px;
  background-color: rgba(255, 255, 0, 0) ;
  padding: 0px;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  width: 150px;
  height: 30px;
  border: 1px solid yellow;
}
.inner-div img{
  width: 60px;
  height: 60px;
  align-self: center;
  border: 0px solid black;
  margin: -30px auto auto -20px;
}
.money-value{
  
  margin: auto;
  margin-right: 5px;
  border: 0px solid black;
  font-size: 20px;
}
.money-add-button{
  border: 0px solid black;
  background-color: #2361b9;
  border-radius: 2px;
  margin: auto;
  margin-right: 2px;
  font-size: 20px;
  padding: 1px 2px;
  color:#a4d0ff
}
.money-label{
  margin: auto;
  display: block;
  width: fit-content;
  font-size: 14px;
  margin-right: 5px;
  font-style:italic ;
}
.bet-img{
width: 50px;
height: 50px;
margin-top: -25px;
}