@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div {
  flex-grow: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  font-family: "Poppins", "Play", sans-serif;
  flex-shrink: 0;
}

.top-text{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-text{
  font-size: x-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.deposit-text{
  padding-top: 0.5vw;
  font-size: small;
}

.deposit-button{
  background-color: #ece8ff;
  transition-duration: 0.2s;
  margin: 1vw;
  padding: 5px 6px;
}

.deposit-button:hover{
  background-color: #5465ff;
  color: white;
  box-shadow: 3px 4px 3px #ece8ff;
}

.deposit-button:active{
  box-shadow: 0px 2px 2px #adaabb;
  transform: translateY(1.5px);
}

.spin-container {
  margin: 1.5rem;
  margin-bottom: 3vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.spin-button {
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: large;
  transition-duration: 0.3s;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #53b5ffee;
  border: 2px solid #2e7eef;
  border-radius: 4px;
}

.spin-button:hover {
  background-color: #2361b9;
  color: white;
  box-shadow: 0px 5px 8px rgba(144, 146, 159, 0.822);
}

.spin-button:active {
  background-color: #2361b9;
  box-shadow: 0px 3.5px #7e97a4;
  transform: translateY(2.5px);
}

.spin-button-contents {
  display: flex;
  width: fit-content;
  gap: 0.5rem;
}
.main-grid {
  flex-shrink: 0;
  padding-top: 2vw;
  display: flex;
  flex-direction: row;
}
.game-grid {
  display: grid;
  grid-template-rows: repeat(3, 8vw);
  grid-template-columns: repeat(3, 8vw);
  /* margin: 3rem; */
}



.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5vw;
  font-family: "Play", "Poppins", sans-serif;
  margin: 0rem;
  margin-bottom: 0rem;
  border-radius: 0.15rem;
  background-color: #eeeeeeb6;
  color: rgb(0, 128, 255);
  cursor: pointer;
  /* box-shadow: 0px 5px 7px #1a1a1a; left/right top/bottom blurr spread */
}

.balance-container{
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
  flex-direction: row;
  font-size: large;
}

.balance-value{
  padding-left: 0.5rem;
}

.bet-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.6rem;
  font-size: x-large;
}

.get-bet-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8f5ff;
  transition-duration: 0.2s;
  margin: 1vw;
  padding: 4px 5px;
}

.get-bet-button:hover{
  background-color: #2b92ff;
  color: white;
  box-shadow: 3px 4px 3px #e8edff;
}

.bet-value{
  padding-left: 0.5rem;
}

.checkboxes {
  margin-right: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0);
}

.check-button {
  display: flex;
  height: 4vw;
  width: 2.5vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  color: white;
  font-size: x-large;
  cursor: pointer;
}

.multiplier-container{
  color: rgb(0, 110, 40);
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: xx-large;
}

.multiplier-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.multiply-val{
  padding-left: 0.3vw;
}

.multiply-bet{
  font-size: x-large;
  margin-left: 0.6vw;
  color: black;
}

.row1 {
  border-bottom: solid rgb(80, 80, 80) 4px;
  border-top: solid rgba(0, 0, 0, 0.8) 5px;
}

.row2 {
  border-bottom: solid rgb(80, 80, 80) 4px;
}

.row3 {
  border-bottom: solid rgba(0, 0, 0, 0.8) 5px;
}

.col1 {
  border-right: solid rgb(153, 153, 153) 4px;
  border-left: solid rgba(0, 0, 0, 0.8) 5px;
}

.col2 {
  border-right: solid rgb(164, 164, 164) 4px;
}

.col3 {
  border-right: solid rgba(0, 0, 0, 0.8) 5px;
}

/* .b1:active{
  transform: translateY(1px);
  box-shadow: 2px 0px 3px rgb(165, 165, 165);
}

.b2:active{
  transform: translateY(1px);
  box-shadow: 2px 0px 3px rgb(165, 165, 165);
}

.b3:active{
  transform: translateY(1px);
  box-shadow: 2px 0px 3px rgb(165, 165, 165);
} */


.b1:hover{
  background-color: rgb(56, 241, 77);
}

.b2:hover{
  background-color: rgb(155, 255, 150);
}

.b3:hover{
  background-color: rgb(155, 255, 150);
}